.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
.top_header {
  height: 105px;
  background: red;
  position: relative;
}
.top_header .header_third {
  width: 33.3%;
  float: right;
  background: red;
}
