
@import 'elements.less';


/* Your Custom code here */

.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

/*
Header style
 */
.navbar{
  background:#424040;
}
.nav-link , .navbar-brand{
  color: #736f6f;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em !important;
}
.nav-link:hover{
  background: #736f6f;
  color: #a10b0b;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}

&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 12px;
  font-style: italic;
}
&::-moz-placeholder { /* Firefox 19+ */
  color:  grey;
  font-size: 12px;
  font-style: italic;
}
&:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  font-size: 12px;
  font-style: italic;
}
&:-moz-placeholder { /* Firefox 18- */
  color:  grey;
  font-size: 12px;
  font-style: italic;
}
/*
Page-home styles
*/
.container-fluid{
  text-align: center;
}

